/* responsive part */

@media screen and (max-width: 600px) {

    .tit {
        flex-direction: column;
        margin: 0 auto;
    }

    .banner-part {
        padding-top: 30px;
        margin: 0 auto;
        width: 80%;
        height: 483px;
        flex-shrink: 0;
        margin: 0 auto;
    }

    .button {
        flex-direction: column;
    }

    #h {
        font-size: 22px;
    }

    /* end banner section */

    /* our popular tour-section */
    .popular-tour {
        flex-direction: column;
        padding-top: 30px;
        width: 80%;
        height: 483px;
        margin: 0 auto;
    }

    .popular-content {
        width: 100%;

    }

    .popular-img {
        width: 100%;
    }

    /* End 0our popular tour-section */



    /* Choose Your Destination-part */

    .Destination-img {

        display: flex;
        flex-direction: column;
        width: 80%;
        height: 176px;
        flex-shrink: 0;
        margin: 0 auto;

    }

    .Destination-content {
        margin-top: 400px;
    }



    /* End Choose Your Destination-part */

    /* why choose us */

    .card-flex {
        flex-direction: column;
    }

    .choose {
        margin-top: 1700px;
    }

    .card {
        margin: 0px auto;
    }

    #cd {
        margin: 20px auto;
    }

    /*End why choose us */

    /* newaletter-section */
    .news {
        flex-direction: column;
        margin: 0px auto;
        width: 500px;

    }

    .imm {
        width: 100%;
        height: 300px;
        margin-right: 20px;
        margin-right: 20px;
        padding: 10px;
        /* width: 335px;
        height: 300px;
        flex-shrink: 0; */

    }

    .imm img {
        width: 100%;
    }



    .conn {

        width: 80%;
        margin-left: 20px;
    }


    .layer {
        /* width: 280px;
        height: 100px; */
        transform: rotate(-19.628deg);
        flex-shrink: 0;
        border-radius: 16px;
        background: #FF5400;
        text-align: center;
        /* padding-top: 15px; */
        position: relative;
        left: 300px;
        bottom: 120px;
        padding-bottom: 15px;

        width: 200px;
        height: 70px;
    }

    /* finish newsletter-section */

/* own part */

    .wnn {
         flex-direction: column;
    }


    /* own part */
    /* footer section */

    .footer {
        width: 80%;
        height: 309px;
        margin: 0 auto;
    }

    .lfn {
        width: 80%;
        height: 1px;
        background: rgba(19, 19, 24, 0.10);
        /* padding-left: 200px; */
        margin: 20px auto;
    }

}