.title {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.title-part img {
    width: 48px;
    height: 56.008px;

}

.title-part {
    display: flex;
    align-items: center;
}

.tit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 120px;
}

div ul {
    display: flex;
    gap: 10px;
}

div li {
    text-decoration: none;
    list-style: none;
}

div li a {
    text-decoration: none;
}

.banner-part {
    text-align: center;
    padding-top: 106px;
    margin: 50px auto;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('/Images/banner.png');
    width: 1170px;
    height: 500px;
    background-repeat: no-repeat;

}

.banner-part img {
    width: 100%;
}

.button {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}

.bt {
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
}

.bt img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    display: inline;
    align-items: center;
}

#p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

#h {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* end banner section */

/* main-part */

/* our popular tour-section */
.popular-tour {
    display: flex;
    margin: 50px auto;
    width: 1170px;
    height: 500px;
}

.popular-img {
    width: 50%;
}

.popular-content {
    width: 50%;
    padding: 25px;
}

.popular-tour img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

#h1 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#p1 {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

#bt1 {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-style: none;
}

/* End our popular tour-section */

/* Choose Your Destination-part */


.Destination {
    margin: 50px auto;

}

#h2 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;

}

#p2 {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;

}

.h3 {
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
}

.Destination-img {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 350px;
    gap: 30px;
    border-radius: 16px;

}

.div1 {


    grid-column: 1/span 6;
    grid-row: 1/span 1;
    text-align: center;
    background-image: url('/Images/Rectangle\ 5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    padding-top: 150px;

}

.div2 {
    grid-column: 7/span 6;
    grid-row: 1/span 1;
    text-align: center;
    background-image: url('/Images/Rectangle\ 8.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
}

.div3 {
    grid-column: 1/span 4;
    grid-row: 2/span 1;
    text-align: center;
    background-image: url('/Images/Rectangle\ 6.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
}

.div4 {
    grid-column: 5/span 5;
    grid-row: 2/span 1;
    text-align: center;
    background-image: url('/Images/Rectangle\ 7.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;

}

.div5 {
    grid-column: 10/span 3;
    grid-row: 2/span 1;
    text-align: center;
    background-image: url('/Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;

}

.div6 {
    grid-column: 1/span 5;
    grid-row: 3/span 1;
    text-align: center;
    background-image: url('/Images/Rectangle\ 11.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;

}

.div7 {
    grid-column: 6/span 7;
    grid-row: 3/span 1;
    text-align: center;
    background-image: url('/Images/Rectangle\ 10.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;

}

/* End Choose Your Destination-part */


/* why choose us */

.h44 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.card {

    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 450px;
    height: 284px;
    padding: 30px;
    /* margin: 20px auto; */
}

.h4 {

    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.p4 {

    color: #5A5A5D;
    text-align: left;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.card-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#cd {
    margin-top: 20px;
    margin-left: 30%;
    border-radius: 16px;

    background: rgba(233, 68, 68, 0.05);
}

/* end why choose us */

/* Newsletter section */

.h5 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.p5 {

    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.in {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;

}

.bin {

    border-radius: 8px;
    background: #FF5400;
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 20px;

}

.line {
    border: 1px solid red;
    width: 393px;
    height: 1px;
    background: #5A5A5D;
    border-style: none;
    margin-bottom: 5px;

}

.news {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 50px auto;
}

.imm {
    width: 60%;
    /* width: 672px; */
    height: 300px;
    /* object-fit: cover; */
}

.conn {
    width: 30%;
    height: 350px;
    padding: 30px;
    text-align: left;
    background: #FFF;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.layer {
    width: 280px;
    height: 100px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    padding-top: 15px;
    position: relative;
    left: 385px;
    bottom: 160px;
}

.l4 {
    color: #FFF;
    font-size: 21.138px;
    font-weight: 800;
    line-height: normal;
}

/* finish newsletter-section */